.Home {
  text-align: center;
}

.login {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  margin: 0 auto;
  z-index: 1000;
  text-align: center;
  justify-content: center;
}

.login-logo {
  height: 150px;
}

.login-header {
  color: "#5393C6" !important;
}
