.navigationBar {
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    background-color: white;
}

#navigationBar-logo {
    width: 125px;
    height: 125px;
    margin-left: 100px;
}

.navigationBar-mainPageButtons {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

.navigationBar-button {
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 80px;
    min-width: 80px;
}

.navigationBar-userButtons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 50px;
    align-items: center;
}

.navigationBar-profile-image {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
}

.navigationBar-profile-name {
    margin-right: 80px;
    min-width: 80px;
    margin-left: 20px;
    color: #5393C6;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 860px) {
    #navigationBar-logo {
        display: none;
    }
}

.bottomBar {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    align-items: center;
    text-align: center;
    z-index: 1;
    margin-top: 50px;
    background-color: white;
}